<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576991338990-oge6uubmk71dlvo77tahhcu2068ml8r2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576991338990-oge6uubmk71dlvo77tahhcu2068ml8r2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>576991338990-9kjo0710clf4jlkjjnaoc020n0pksa84.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOUN_duggK4udvNcIa2Gw97I3nLEQE32Q</string>
	<key>GCM_SENDER_ID</key>
	<string>576991338990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecmante.diario</string>
	<key>PROJECT_ID</key>
	<string>diario-3ee0d</string>
	<key>STORAGE_BUCKET</key>
	<string>diario-3ee0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576991338990:ios:b1aa7d389d670d5f202eff</string>
	<key>DATABASE_URL</key>
	<string>https://diario-3ee0d-default-rtdb.firebaseio.com</string>
</dict>
</plist>